*{
    padding: 0;
    margin: 0;
    border-radius: border-box;
}

body{
   background-color: beige;
}

.container_header{
    max-width: 500px;
    margin: 0 auto
}

.container_main{
    max-width: 900px;
    margin: 0 auto;
}
m